@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --Color1: #302172;
    --Color2: #fa00f6;
    --Color3: #fa00f633;
    --Color4: #30217233;
    --Color5: #daf9ff;

    --Scrollbar-Color: rgba(48, 33, 114, 0.2);
    --Scrollbar-thumb-Color: rgba(250, 0, 246, 0.2);
    --Texto-Color: #302172;
    --Texto-Categorias-Hover: #4327ac;
    --Efecto-Categorias: #4327ac;
}

@media (prefers-color-scheme: dark) {
    :root {
        --Scrollbar-Color: #000000;
        --Scrollbar-thumb-Color: #ffff;
    }
}

/* body */
body {
    /* background: #fafbfb; */

    /* 010824 - eee1 */
    background-color: #fafbfb;
    background-image: linear-gradient(
            to right,
            transparent 0 49px,
            rgba(0, 0, 0, 0.067) 49px
        ),
        linear-gradient(
            to bottom,
            transparent 0 49px,
            rgba(0, 0, 0, 0.067) 49px
        );
    background-size: 50px 50px;

    &::before {
        position: fixed;
        width: 400px;
        height: 400px;
        content: "";
        background-image: linear-gradient(
            to right,
            var(--Color1),
            var(--Color4)
        );
        z-index: -1;
        top: -200px;
        /* left: calc(50% - 200px); */
        left: 0;
        border-radius: 50% 50% 0% 0%;
        pointer-events: none;
        filter: blur(250px);
    }
}
body::-webkit-scrollbar {
    width: 10px;
    background: var(--Scrollbar-Color);
}

body::-webkit-scrollbar-thumb {
    background: var(--Scrollbar-thumb-Color);
    border-radius: 5px;
}

/* Degradodo imagen de fondo */

.img-degradado {
    mask-image: linear-gradient(rgb(255, 255, 255) 75%, transparent);
}

.contenedor {
    background: url(/PlanetaSinFondoLineasNegras.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.3;
}

@media (width <= 640px) {
    .contenedor {
        background-size: cover;
        background-position: top;
    }
}

.blur-effect-contenedor {
    background: #fafafa10;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
}

/* MENU */

/* Texto Menu */
.subrayar {
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.subrayar:focus,
.subrayar:hover {
    color: var(--Texto-Categorias-Hover);
}

.subrayar:focus:after,
.subrayar:hover:after {
    width: 100%;
    left: 0%;
}

.subrayar:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--Efecto-Categorias);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Sombra */
.shadow-header {
    -webkit-box-shadow: 0px 0px 50px 5px var(--Color4);
    -moz-box-shadow: 0px 0px 50px 5px var(--Color4);
    box-shadow: 0px 0px 50px 5px var(--Color4);
}

/* Textos */
.texto-responsive-50 {
    font-size: clamp(25px, 5vw, 70px);
}

.texto-responsive-40 {
    font-size: clamp(20px, 4vw, 40px);
}
.texto-responsive-25 {
    font-size: clamp(12px, 3vw, 25px);
}

.texto-responsive-20 {
    font-size: clamp(12px, 2.5vw, 20px);
}

.texto-responsive-15 {
    font-size: clamp(10px, 2vw, 15px);
}

/* Efecto Blur */
.blur-effect {
    background: #fafafa10;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
}

/* Tarjeta Planes */
.grillaPlanes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0px;
}

.grillaPlanes .box {
    width: 300px;
    justify-content: space-between;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #fafafa10;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    -webkit-box-shadow: 0px 0px 50px 5px var(--Color4);
    -moz-box-shadow: 0px 0px 50px 5px var(--Color4);
    box-shadow: 0px 0px 50px 5px var(--Color4);

    transition: scale 100ms ease-in-out;
}

.grillaPlanes .box:hover {
    scale: 1.05;

    transition: scale 200ms ease-in-out;
    /* z-index: 999; */
}

.grillaPlanes .box .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #555;
}

.grillaPlanes .box .price {
    margin-bottom: 20px;
}

.grillaPlanes .box .price b {
    display: block;
    font-size: 40px;
    margin-bottom: -5px;
}

.grillaPlanes .box .features > * {
    color: #555;
    padding: 8px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.grillaPlanes .box .button button {
    width: 100%;
    margin: 25px 0px 0px;
    padding: 10px;
    background: #302172;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.grillaPlanes .professional {
    z-index: 99;
    transform: scale(1.1);
    background: linear-gradient(to bottom, #302172, #d5a3ff);
}

.grillaPlanes .professional .title {
    color: #eee;
}

.grillaPlanes .professional .price {
    color: #fff;
}
.grillaPlanes .professional .features > * {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.grillaPlanes .professional .button button {
    background: #fff;
    color: #d5a3ff;
}

@media (max-width: 804px) {
    .grillaPlanes {
        gap: 20px;
    }

    .grillaPlanes .professional {
        transform: scale(1);
    }

    .grillaPlanes .box {
        width: 300px;
    }
}

/* Tarjetas Info */
.fondo-Tarjeta {
    width: 300px;
    justify-content: space-between;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #fafafaa2;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
}
.fondo-Tarjeta:hover {
    background: #c9c9c946;
}

/* Formulario */
.contenedor-formulario {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #fafafa10;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    -webkit-box-shadow: 0px 0px 50px 5px var(--Color4);
    -moz-box-shadow: 0px 0px 50px 5px var(--Color4);
    box-shadow: 0px 0px 50px 5px var(--Color4);
}

.contenedor-formulario select {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    font-weight: 600;
    font-style: italic;
    color: var(--Color1);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-bottom: 2px var(--Color1) solid;

    background: transparent;
    margin: 2px 0 4px;
    padding: 15px 0 5px 5px;
}

/* input */
.form-control {
    position: relative;
    margin: 2px 0 4px;
    width: 100%;
}

.form-control input {
    background-color: transparent;
    border-bottom: 2px var(--Color1) solid;
    display: block;
    width: 100%;
    padding: 15px 0 5px 5px;
    font-size: 18px;
    color: var(--Color1);
    font-weight: 600;
}

.form-control input:focus,
.form-control input:not(:placeholder-shown) {
    outline: 0;
    border-bottom-color: var(--Color3);
    padding: 15px 0 5px 5px;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 5px;
    pointer-events: none;
    padding: 0px 4px;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    font-weight: 600;
    font-style: italic;
    color: var(--Color1);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:not(:placeholder-shown) + label span {
    color: var(--Color1);
    transform: translateY(-20px);
    font-size: 14px;
}

/* Circulos */
.circulo {
    width: 30%;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 100%;

    --tw-blur: blur(100px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
        var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
        var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

/* Menu */
.efecto-clase1 {
    /* background: #23174f; */
    background: #23174f;

    font-size: medium;
    backdrop-filter: blur(2px);
    height: 60px;
    color: #ffffff;

    & .efecto-logo {
        opacity: 2;
        display: none;
    }
}

.efecto-clase2 {
    background: transparent;

    & .efecto-logo {
        opacity: 1;
        display: flex;
    }
}

.show-menu {
    animation: show-menu 1s forwards 2s;
}

@keyframes show-menu {
    to {
        top: calc(50vh - 50px);
        opacity: 1;
    }
}

.efecto-show {
    animation: show 1s;
}

@keyframes show {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.efecto-show-left {
    animation: show-left 1s both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

@keyframes show-left {
    0% {
        opacity: 0;
        left: -100%;
        translate: -100%;
    }
    100% {
        translate: 0%;
        opacity: 1;
    }
}

/* .efecto-show-right {
    animation: show-right 1s both;
    translate: -100%;
}

@keyframes show-right {
    0% {
        translate: -100%;
        opacity: 0;
    }
    100% {
        translate: 0%;
        opacity: 1;
    }
} */

/* Menu Izquierda */
.input-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    transition: 1s;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffffa9;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    -webkit-box-shadow: 0px 0px 50px 5px var(--Color4);
    -moz-box-shadow: 0px 0px 50px 5px var(--Color4);
    box-shadow: 0px 0px 50px 5px var(--Color4);
}

.value-menu {
    background-color: transparent;

    border: none;
    padding: 10px 8px;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 10px;
    /* transition: 1s; */
    box-sizing: border-box;
}

/* .value-menu:focus {
    background-color: var(--Color1);
    outline: none;
    margin-left: 17px;
} */

.value-menu svg {
    width: 20px;
}

.input-menu:hover > :not(.value-menu:hover) {
    /* transition: 300ms; */
    filter: blur(1.5px);
    transform: scale(0.95, 0.95);
}

.input-menu:hover {
    scale: 1.2;
    transition: scale 0.3s ease-in-out;
}

/* Radio-Button */
.radio-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    color: var(--Color1);
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.radio-button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    background-color: var(--Color2);
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px #4c8bf580;
}

.radio-button__input:checked + .radio-button__label {
    color: var(--Color2);
}

.radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: var(--Color2);
    box-shadow: 0 0 20px #4c8bf580;
}

/* Boton Enviar */
.bt {
    border: none;
    user-select: none;
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #0873bd;
    box-shadow: #cacaca 2px 2px 10px 1px;
    border-radius: 12px;
    height: 50px;
    line-height: 50px;
    width: 155px;
    transition: all 0.2s ease;
    position: relative;
}

.msg {
    height: 0;
    width: 0;
    border-radius: 2px;
    position: absolute;
    left: 15%;
    top: 25%;
}

.bt:active {
    transition: all 0.001s ease;
    background-color: #5d9fcd;
    box-shadow: #97989a 0 0 0 0;
    transform: translateX(1px) translateY(1px);
}

.bt:hover {
    font-weight: 800;
    transition: font-weight 0.3s ease-in;
}
.bt:hover .msg {
    animation: msgRun 2s forwards;
}

@keyframes msgRun {
    0% {
        border-top: #d6d6d9 0 solid;
        border-bottom: #f2f2f5 0 solid;
        border-left: #f2f2f5 0 solid;
        border-right: #f2f2f5 0 solid;
    }

    20% {
        border-top: #d6d6d9 14px solid;
        border-bottom: #f2f2f5 14px solid;
        border-left: #f2f2f5 20px solid;
        border-right: #f2f2f5 20px solid;
    }

    25% {
        border-top: #d6d6d9 12px solid;
        border-bottom: #f2f2f5 12px solid;
        border-left: #f2f2f5 18px solid;
        border-right: #f2f2f5 18px solid;
    }

    80% {
        border-top: transparent 12px solid;
        border-bottom: transparent 12px solid;
        border-left: transparent 18px solid;
        border-right: transparent 18px solid;
    }

    100% {
        transform: translateX(150px);
        border-top: transparent 12px solid;
        border-bottom: transparent 12px solid;
        border-left: transparent 18px solid;
        border-right: transparent 18px solid;
    }
}

/* Texto Bienvenda */
.texto-efecto-entrada {
    -webkit-animation: tracking-in-contract-bck 1s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.4s linear both;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.2em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.mostrar {
    animation: blur-in 0.5s linear;
}
@keyframes blur-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

/* Tutoriales */

.grilla-tutoriales {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.grilla-tarjetas {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

@media (width <= 640px) {
    .grilla-tarjetas {
        gap: 10px;
        width: 300px;
        & .fondo-Tarjeta {
            -webkit-box-shadow: 0px 0px 50px 5px var(--Color4);
            -moz-box-shadow: 0px 0px 50px 5px var(--Color4);
            box-shadow: 0px 0px 50px 5px var(--Color4);
        }
    }
}

.efecto-show-scroll-sin-scale {
    animation: show-scroll-sin-scale both;
    animation-timeline: view();
    animation-range: entry 5% cover 50%;
}
@keyframes show-scroll-sin-scale {
    0% {
        opacity: 0;
        translate: 0 100px;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.efecto-show-scroll {
    animation: show-scroll both;
    animation-timeline: view();
    animation-range: entry 5% cover 50%;
    /* animation-range: entry 5% entry 50%, exit 0% exit 100%, entry 0% exit 100%; */

    animation-iteration-count: 1;
}

@keyframes show-scroll {
    0% {
        transform: scale(0.5);
        opacity: 0;
        translate: 0 100px;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        translate: 0 0;
    }
}

/* button */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--Color4);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #000000;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: var(--Color4);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* home */

.animar-tarjetas {
    animation: show-left-button 1s forwards 4s;
    opacity: 0;
}

.home button {
    animation: show-left-button 1s forwards 3s;
    opacity: 0;
}

@keyframes show-left-button {
    0% {
        opacity: 0;
        translate: -100%;
    }
    100% {
        translate: 0%;
        opacity: 1;
    }
}

/* Borrar home */
#home {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;

    & .content {
        font-family: "MuseoModerno", system-ui;
        & .name {
            font-size: 7em;
            font-weight: bold;
            line-height: 1em;
            & span {
                background-image: linear-gradient(
                    to right,
                    #7be728,
                    #f3265f,
                    #7f40ac,
                    #7be728
                );
                background-size: 200% auto;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                animation: shine 5s linear infinite;
            }
        }
        & .des {
            color: #eee5;
            margin: 30px 0;
            border-left: 0.7em solid #e945e3;
            padding-left: 2em;
        }
        & a {
            display: block;
            font-size: large;
            color: #eee;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid #eee;
            background-color: transparent;
            width: max-content;
            padding: 20px 30px;
            border-radius: 40px;
        }
    }
    & .avatar {
        text-align: right;
        & .card {
            display: inline-flex;
            flex-direction: column;
            width: min(100%, 400px);
            box-shadow: 0 150px 150px #e945e333;
            transition: 0.5s;
            &:hover {
                box-shadow: 0 150px 150px #e945e355;
            }
            & img {
                width: 100%;
                height: min(50vh, 700px);
                object-fit: cover;
                object-position: top;
                clip-path: polygon(81% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
            }
            & .info {
                background-color: #eee;
                color: #010824;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                gap: 20px;
                padding: 20px;
                font-size: 1.2em;
                & div:nth-child(1),
                div:nth-child(2),
                div:nth-child(3) {
                    font-weight: bold;
                }
            }
        }
    }
}

/* Login */

.rickWallpaper {
    background: url("/netic.jpg") no-repeat;
    background-size: cover;
    filter: blur(4px);
}

.showDown {
    transition-duration: 1s;
    transform: translatey(0%);
}

.showUp {
    transition-duration: 1s;
    transform: translatey(100%);
}

.rotateUp {
    animation: arrowAnimated 0.8s both;
}

@keyframes arrowAnimated {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.rotateDown {
    animation: arrowAnimated2 0.8s both;
}

@keyframes arrowAnimated2 {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mover {
    animation: shake-vertical 2s both infinite;
}
@keyframes shake-vertical {
    0%,
    100% {
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateY(-3px);
    }
    20%,
    40%,
    60% {
        transform: translateY(3px);
    }
    80% {
        transform: translateY(2.2px);
    }
    90% {
        transform: translateY(-2.2px);
    }
}

.sphere1 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    background-size: cover;
    box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.2),
        inset 10px 10px 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.sphere2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    background-size: cover;
    box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.2),
        inset 10px 10px 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.contenedor-mapa:hover .sphere2 {
    z-index: 20;
}
.contenedor-mapa:hover .sphere1 {
    z-index: 10;
}

/* Cliente */
.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    /* width: 18rem; */
    /* height: 8rem; */
    padding: 0px 0px 10px 0px;
    background: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff;
}

.notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 5px;
    background: #ffffff;
    z-index: 2;
}

.notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.notification:hover:after {
    transform: translateX(0.15rem);
}

.notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.notification:hover .notititle {
    transform: translateX(0.15rem);
}

.notibody {
    color: #2b2b2b;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.notification:hover .notibody {
    transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(
        circle closest-side at center,
        white,
        transparent
    );
    opacity: 0;
    transition: opacity 300ms ease;
}

.notiglow {
    z-index: 3;
}

.notiborderglow {
    z-index: 1;
}

.notification:hover .notiglow {
    opacity: 0.1;
}

.notification:hover .notiborderglow {
    opacity: 0.1;
}

.note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
}

.column-draw::-webkit-scrollbar {
    display: none;
    width: 10px;
    background: var(--Scrollbar-Color);
}

.column-draw::-webkit-scrollbar-thumb {
    display: none;

    background: var(--Scrollbar-thumb-Color);
    border-radius: 5px;
}
